header{
    padding: 25px 0 35px;
    position: relative;
    body:not(.home) &{
        padding-bottom: 55px;
        @media screen and (min-width: 991px) {
            background:
            linear-gradient($grey 0 0) 150px,
            linear-gradient($grey 0 0) 50%,
            linear-gradient($grey 0 0) calc(100% - 150px);
            background-size:1px 100%; /* Control the width here*/
            background-repeat:no-repeat;
        }
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        &:after{
            content: '';
            z-index: 0;
            position: absolute;
            width: 650px;
            height: 915px;
            right: -130px;
            top: -541px;
            background: $blue;
            border-radius: 100px;
            body:not(.home) &{
                @media screen and (min-width: 991px) {
                    width: 1172px;
                    height: 650px;
                    left: calc(50% - 60px);
                    top: -520px;
                    right: inherit;
                    border-radius: 1000px;
                }

            }
            .guidelines &{
                background: $orange;
            }
            .why &{
                background: $green;
            }
        }
        .nav-item{
            z-index: 1;
            display: flex;
            align-items: center;
            .nav-link{
                color: white;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;

                transition: all .3s;
                &:hover{
                    color: $purple;
                }
            }
            position: relative;
            &:not(:last-of-type):after{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background: $purple;
                border-radius: 3px;
                margin:0 30px;
            }
        }


    }

    @media screen and (max-width: 990px) {
        padding: 25px 0 20px;
        .navbar{
            justify-content: space-between;
            width: 100%;
            &-brand{
                .open &{
                    z-index: 9;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }

            }
            &:after{
                content: '';
                z-index: -1;
                position: absolute;
                width: 165px;
                height: 232px;
                right: -50px ;
                top: -120px;
                background: $blue;
                border-radius: 1000px;
                transition: .5s all $ease-out-quart;
                .open &{
                    transform: scale(10) translateX(-25%);
                    z-index: 4;
                    transition: 2s all $ease-out-expo;
                }
            }
            &-toggler{
                margin-right: 20px;
                border: 0;
                .open &{
                    z-index: 9;
                    &-icon{
                        margin-right: 4px;
                        width: 20px;
                        height: 20px;
                        background-image: url("data:image/svg+xml, %3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.22168' y='0.807617' width='24' height='2' transform='rotate(45 2.22168 0.807617)' fill='white'/%3E%3Crect x='19.1924' y='2.2218' width='24' height='2' transform='rotate(135 19.1924 2.2218)' fill='white'/%3E%3C/svg%3E");
                    }
                }
                &-icon{
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }
            }
            &-collapse {
                transition: 0 all 2s;
                &.show{
                    display: flex;
                    height: 100%;
                }
                &.collapsing {
                    -webkit-transition: none;
                    transition: none;
                    display: none;
                }
                position: fixed;
                z-index: 5;
                width: 100%;
                max-width: 100%;
                transition: all .3s;

                flex-direction: column;
                justify-content: center;
                align-items: center;
                //background: $blue;
                left: 0;
                top: 0;
                padding-top: 60px;
                ul{
                    margin: 0 !important;
                    .nav-item{
                        flex-direction: column;
                        .nav-link{
                            width: 100%;
                            text-align: center;
                            margin: 0px 0;
                            color: white;
                            font-size: 40px;
                            line-height: 40px;
                        }
                        &::after{
                            margin: 32px 0 !important;
                        }
                    }
                }

            }

        }

    }

     @media screen and (max-width: 767px) {
         padding: 20px 0 20px;
     }
}
