/* Colors
  ========================================================================== */

// colors
$blue: #3AAFB9;
$black: #2E294E;
$purple: #2E294E;
$orange: #FFBB00;
$green : #ACEB98;
$grey : #F1F2F6;


/* Typography
========================================================================== */
$font-body: 'IBM Plex Sans', sans-serif;
$font-size: 14px;
$default-font-size: 16px;

/* Shadow
========================================================================== */

$ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);